# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
*.iml
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
*.jks
key.properties
local.properties
